<app-navbar></app-navbar>
<br/>
<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Welcome to NickFolio</h1>
      <p class="lead my-3">NickFolio is a portfolio creator which can be used to create a portfolio easily and fastly...</p>
      <p class="lead mb-0"><a href="/register" class="text-white ">Register ... </a></p>
    </div>
  </div>

  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8 blog-main">
       <br/>

        <div class="blog-post">
          <h2 class="blog-post-title">About Us</h2>
          <br/>
          <p>NickFolio is a fastest way of creating a portfolio.</p>
          <p>Quick and Easy.</p>
          <p>Do not required to create a portfolio of its own.</p>
          <p>NickFolio helps in making a resume via Web page and can be shared to people across via link</p>
        </div>
        </div>
        </div>
        </main>
        <br/>
        <footer class="blog-footer" style="background-color: black;">
            <br/>
            <p align="center" style="color:white;">Email : nickfolio@nickfolio.com </p>
            <p align="center" style="color:white;">#######</p>
            <br/>
          </footer>