<app-navbar></app-navbar>
<br/><br/><br/>
<div class="form">
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label" >Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputEmail3" [(ngModel)]="register.name" />
      </div>
    </div>
    <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail3" [(ngModel)]="register.email">
        </div>
      </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" [(ngModel)]="register.password">
      </div>
    </div>


    <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Re-Enter Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword3" [(ngModel)]="newPass">
        </div>
      </div>

    <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Phone Number</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputPassword3" [(ngModel)]="register.phoneNumber">
        </div>
      </div>
      <button type="button" class="btn btn-info" (click)="onRegister()" >Register</button>
  
</div>